name: pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm ci || npm i
        working-directory: ./page
      - name: Build project
        run: npm run build
        working-directory: ./page
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          # npm run build의 결과물이 ./page/build 폴더에 생성된다고 가정합니다.
          # 만약 다른 폴더(예: dist)에 생성된다면 경로를 수정해주세요.
          path: "./page/build"
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
